<%= render "devise/shared/navbar" %>

<div class="jumbotron text-center">

<h1>Recuperação de Senha</h1>

</div>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>


    <div class="col-sm-6 offset-sm-3">
      <div class="info-form">
        <form action="" class="form-inlin justify-content-center">
      
          <div class="form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email" %>
          </div>


        <div class="col-sm-10 offset-sm-4">    
        <br />    
          <div class="actions">
            <%= f.submit "      Recuperar Senha      ", class: "btn btn-primary" %>
          </div>
        </div>
        </form>
      </div>
    </div>

<% end %>

