<%= render "devise/shared/navbar" %>

<div class="jumbotron text-center">

<h1> Detalhes do Pedido </h1>

</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Código</h3>
      <p>  <%= @pedido.title %> </p>
    </div>
    <div class="col-sm-4">
      <h3>Descrição</h3>
      <p><%= @pedido.body %></p>  
    </div>
    <div class="col-sm-4">
      <h3>Usuário</h3>        
      <p><%= @pedido.user.nome %></p>
    </div>
  </div>
</div>

<div class="text-center">

<%= link_to 'Editar', edit_pedido_path(@pedido) %> 
<br>
<%= link_to 'Voltar', pedidos_path %>

</div>

