<%= render "devise/shared/navbar" %>

    <div class="jumbotron text-center">

    <h1>Login</h1>

    </div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="col-sm-6 offset-sm-3">
      <div class="info-form">
        <form action="" class="form-inlin justify-content-center">
      
          <div class="form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email" %>
          </div>

          <div class="form-group">
            <%= f.label :Senha %><br />
            <%= f.password_field :password, class: "form-control", autocomplete: "current-password" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="form-group">
              <%= f.check_box :remember_me %>
              <%= f.label :lembrar_senha %>
            </div>
          
          <% end %>

        <div class="col-sm-10 offset-sm-5">        
          <div class="actions">
            <%= f.submit "  Entrar  ", class: "btn btn-primary" %>
          </div>
        </div>

          <div class="text-center">
            <%= render "devise/shared/links" %>
          </div>
        
        </form>
      </div>
    </div>
    <% end %>


  </div>

</div>